@using pinit.Models;
@{
    ViewBag.Title = "Profile update";
}
<h2>@ViewBag.Title.</h2>

<div class="container theme-showcase">
    <div class="panel panel-default">
        <div class="panel-body">
            <div>
                <p class="text-success">@ViewBag.StatusMessage</p>
                @Html.Partial("_UpdateProfilePartial")
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
