@{
    ViewBag.Title = "About";
}




<div class="jumbotron">
<h1>Pin it</h1>
    <p>Final project for CS6083 class.</p>
<p class="lead">is a MVC5.Net based pinterest clone built using agile life cycle</p>
<p><a href="http://github.com/ashabbir/pinit" class="btn btn-primary btn-large" target="_blank">Download Source &raquo;</a></p>
</div>


<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">Ahmed Shabbir</div>
            <div class="panel-body">
                <p>Some stuff about ahmed</p>
                <p><a class="btn btn-primary" href="http://www.linkedin.com/in/ahmedshabbir/" target="_blank">Ahmed's linked in &raquo;</a></p>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">Pinteset</div>
            <div class="panel-body">
                <p>You can navigate to pinterest .</p>
                <p><a class="btn btn-primary " href="https://pinterest.com" target="_blank">Pinterest &raquo;</a></p>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">Jason Lee</div>
            <div class="panel-body">
                <p>some stuff about jason</p>
                <p><a class="btn btn-primary" href="http://linkedin.com/" target="_blank">Jason's linked in &raquo;</a></p>
            </div>
        </div>
    </div>
</div>
