@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    some where in NY<br />
    Staten Island, NY 10314<br />
    <abbr title="Phone">P:</abbr>
    347.111.xxxx
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:as7231@students.poly.edu">as7231@students.poly.edu</a><br />
    <strong>Marketing:</strong>   <a href="mailto:as7231@students.poly.edu">as7231@students.poly.edu</a><br />
</address>