@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>PINIT</h1>
    
    <p class="lead">is a MVC5.Net based pinterest clone built using agile life cycle.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Ahmed Shabbir</h2>
        <p>Some stuff about ahmed</p>
        <p><a class="btn btn-default" href="http://www.linkedin.com/in/ahmedshabbir/" target="_blank">Ahmed's linked in &raquo;</a></p>        
        
        
    </div>
    <div class="col-md-4">
        <h2>Go to Pinteset</h2>
        <p>You can navigate to pinterest .</p>
        <p><a class="btn btn-default" href="https://pinterest.com" target="_blank">Pinterest &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Jason Lee</h2>
        <p>some stuff about jason</p>
        <p><a class="btn btn-default" href="http://linkedin.com/" target="_blank">Jason's linked in &raquo;</a></p>
    </div>
</div>