@model pinit.Models.OverviewModel

@{
    ViewBag.Title = "Home Page";
}



@Html.Partial("_PendingFriendRequestPartial", Model.PendingFriendRequests)


<div class="jumbotron">
    @Html.Partial("_PinsPartial", Model.FollowPin)
</div>



@Html.Partial("_BoardsPartial" , Model.boards.Take(9))

@Html.Partial("_ActiveFriendPartial", Model.ActiveFriends)

