@model pinit.Models.OverviewModel

@{
    ViewBag.Title = "Home Page";
}



@Html.Partial("_PendingFriendRequestPartial", Model.PendingFriendRequests)


<div class="jumbotron">
   this is where ill show u some of the boards you are following 
    its come be some thing like 
    @Html.Partial("_BoardsPartial", Model.boards.Take(6))
</div>



@Html.Partial("_BoardsPartial" , Model.boards.Take(9))

@Html.Partial("_ActiveFriendPartial", Model.ActiveFriends)

