@model pinit.Models.OverviewModel

@{
    ViewBag.Title = "Home Page";
}



@Html.Partial("_PendingFriendRequestPartial", Model.PendingFriendRequests)


<div class="jumbotron">
    @if(Model.FollowPin.Count() > 0) {
    @Html.Partial("_PinsPartial", Model.FollowPin)
    }
    else 
    {
        <p>you are currently not following any thing</p>
    }
    
</div>



@Html.Partial("_BoardsPartial" , Model.boards.Take(9))

@Html.Partial("_ActiveFriendPartial", Model.ActiveFriends)

