@model IEnumerable<pinit.Data.Board>


@{
    ViewBag.Title = "Boards";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Boards</h2>
<div class="container theme-showcase">
    <div class="center-block">
        <div class="panel panel-default">
            <div class="panel-body">
                <p>
                    @Html.ActionLink("Create New", "Create")
                </p>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                @Html.Partial("_BoardsPartial")
            </div><!-- /.panel-body -->
        </div><!-- panel panel-default-->
    </div><!--center -->
</div> <!-- /container -->
